@import 'https://fonts.googleapis.com/css?family=Signika+Negative:400,700';
@import 'invtsBasics.css';

:root {
  --primary: #00acc1 !important;
}

* {
  font-family: 'Signika Negative';
}

body,
p {
  color: #333 !important;
  font-size: 1.1rem
}


.bold-text {
  font-weight: 700;
}

/* color select */

.dropdown-content.select-dropdown span {
  color: var(--primary)
}

/* footer */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* links */
a {
  color: var(--primary)
}