.giant-text {
  font-size: 2.5rem !important;
}

.large-text {
  font-size: 2.1rem !important;
}

.medium-text {
  font-size: 1.7rem !important;
}

.normal-text {
  font-size: 1rem !important;
}

.small-text {
  font-size: .7rem !important;
}


/*materialize*/

.card-panel,
.card,
.modal,
.hoverable {
  border-radius: 1rem;
}

.btn,
.btn-flat {
  border-radius: .6rem;
}